* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body{
    background: #0c246e;
    color: #ffffffd4;
}

/* Style for the highlighted section */

/* Style for the highlighted section */
.highlighted-section {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Allows cursor movement over this layer */
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind other content */
}
#header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 40px 20px;
}
nav ul li a {
  color: #ffffffd4;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0000a5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
    color: #fff
}

/*-------- about --------*/
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
  font-size: 18px;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #ffffffe9;
}
.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000099;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
    color: #000099;
    font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*-------- portfolio --------*/

.flex-container {
  display: flex;
  align-items: flex-start;
}

.job-container {
    padding: 15px;
    margin: 14px;
  }

  .job-header {
    font-size: 18px;
    font-weight: 350;
    margin: 5px 55px;
    margin-top: 8px;
  }
  .job-header1 {
    font-size: 18px;
    font-weight: 350;
    margin: 8px 55px;
  }

  .job-date {
    float: left;
    font-weight: 350;
    margin: 5px 65px;
    font-size: 17px;
  }

  .title-experience {
    font-size: 60px;
    font-weight: 600;
    color: #ffffffe9;
    margin: 5px 50px;
  }

  .job-experience {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 10px 5px 300px;
    color: #ababab;
  }

  .job-experience li {
    list-style-type: disc;
    margin-left: 20px;
    margin: 0 30px;
  }
  
  #bubble-container {
    margin: 0 0 5px 300px;
  }

  .bubble {
    display: inline-block;
    padding: 5px 8px; /* Adjust padding to control the space between text and circle */
    border-radius: 15px; /* Adjust border-radius to make a circular shape */
    background-color: #2176d0; /* Change the color as desired */
    color: #e9e9e9; /* Text color */
    font-size: 14px;
    margin: 2px;
  }

  /*-------- education --------*/

  #education {
    padding: 30px 0;
  }

  .education-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }

  .education-section div {
    background: rgba(0, 7, 79, 0.702);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
  }
  .education-section div i{
    font-size: 30px;
    margin-bottom: 25px;
  }
  .education-section div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .education-section div:hover {
    background: #1333b7;
    transform: translateY(-10px)
  }


  /*-------- contact --------*/

  .sub-title-contact {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    color: #ffffffe9;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
  }

  .contact-left {
    margin-right: 40px;
    margin-left: 50px;
  }

  .contact-right {
    margin-left: 40px;
  }

  #contact {
    padding: 80px 0;
    color: #ffffffe9
  }

  .contact-left p {
    margin-top: 40px;
  }

  .con, .con2 {
    display: flex;
    align-items: left;
    margin-top: 30px;
    margin-left: 50px;
  }

  .text {
    margin-left: 14px;
  }

  .btn.btn2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000099;
    color: #ffffffe9;
    background-color: #000099;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-top: 20px;
    margin-left: 50px;
  }

  .btn.btn2:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }

  /* ---------- button -------- */
  
  /* Show the button when the user starts scrolling */
  body.scrolling .icon-container {
    display: block;
  }

  .icon-container {
    text-align: center; /* Center-align the content */
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  
  .icon-container .fas {
    font-size: 20px; /* Adjust the icon size */
  }
  
  .icon-container .text {
    display: block;
    margin-top: 3px; /* Adjust the spacing between the icon and text */
    margin-right: 10px;
    font-size: 12px;
  }

  /* --------------- css for small screens ---------- */

  nav .fas{
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .header-text {
      margin-top: 38%;
      font-size: 30px;

    }

    .header-text h1 {
      font-size: 32px;
    } 
    nav .fas {
      display: block;
      font-size: 25px;
    }
    nav ul {
      background: #0f0f0f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
    }
    nav ul li {
      display: block;
      margin: 25px;
    }
    nav ul .fas {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
    .sub-title {
      font-size: 40px;
    }
    .about-col-1, .about-col-2 {
      flex-basis: 100%;
    }
    .about-col-1 {
      margin-bottom: 30px;
    }
    .about-col-2 {
      font-size: 14px;
    }
    .flex-container {
      display: flex;
      align-items: flex-start;
    }
    
    /* --- experience --- */
    .job-container {
        padding: 10px;
        margin: 8px;
      }
    
      .job-header {
        font-size: 15px;
        font-weight: 350;
        margin: 4px 60px;
      }
      .job-header1 {
        font-size: 15px;
        font-weight: 350;
        margin: 8px 60px;
      }
    
      .job-date {
        float: left;
        font-weight: 350;
        margin: 5px 65px;
        font-size: 14px;
      }
    
      .title-experience {
        font-size: 40px;
        font-weight: 600;
        color: #ffffffe9;
        margin: 5px 50px;
      }
    
      .job-experience {
        margin-top: 10px;
        margin: 0 0 0 300px;
        color: #ababab;
      }
    
      .job-experience li {
        list-style-type: disc;
        margin: 0 5px 0 0;
      }

      .bubble {
        display: inline-block;
        padding: 5px 8px; /* Adjust padding to control the space between text and circle */
        border-radius: 10px; /* Adjust border-radius to make a circular shape */
        background-color: #2176d0; /* Change the color as desired */
        color: #e9e9e9; /* Text color */
        font-size: 14px;
        margin: 2px 2px;
      }

      /* --- education --- */

      .education-section div {
        background: rgba(0, 7, 79, 0.702);
        padding: 40px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
      }
      .education-section div i{
        font-size: 20px;
        margin-bottom: 25px;
      }
      .education-section div h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .education-section div:hover {
        background: #1333b7;
        transform: translateY(-10px)
      }

      /* --- contact --- */

      .sub-title-contact {
        text-align: center;
        font-size: 40px;
      }

      .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .contact-left {
        justify-content: center;
        align-items: center;
        align-items: center;
      }
  
      .contact-right {
        justify-content: center;
        align-items: center;
        margin-left: 125px;
      }

      .con {
        text-align: center;
        align-items: center;
        margin: 20px;
      }

      .btn.btn2 {
        margin: 20px 5px;
      }

      .text {
        margin-left: 14px;
        text-align: center;
      }

      .icon-container {
        text-align: left; /* Center-align the content */
        position: fixed;
        bottom: 5px;
        left: 0px;
        align-items: center;
      }
      
      .icon-container .fas {
        font-size: 20px; /* Adjust the icon size */
        text-align: left;
        margin-left: 30px;
      }
      
      .icon-container .text {
        display: block;
        margin-top: 3px; /* Adjust the spacing between the icon and text */
        margin-right: 8px;
        font-size: 12px;
        text-align: left;
      }

  }