* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #0000a5;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #fff;
}

/*-------- about --------*/
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #000099;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #000099;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*-------- portfolio --------*/
.job-container {
  padding: 15px;
  margin: 14px;
}

.job-header {
  font-size: 18px;
  font-weight: 350;
  margin: 5px 55px;
}

.job-date {
  float: left;
  font-weight: 350;
  margin: 0px 65px;
}

.title-experience {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin: 5px 50px;
}

.job-experience {
  margin-top: 10px;
  margin: 0 350px;
  color: #ababab;
}

.job-experience li {
  list-style-type: disc;
  margin-left: 20px;
  margin: 0 30px;
}

/* added by Jasper */

.center-container {
  display: flex;
  justify-content: center;
}
/* added by Jasper */
/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* color of the track (black) */
}

::-webkit-scrollbar-thumb {
  background: #000; /* color of the scrollbar handle (black) */
  border: 2px solid #ff004f; /* red border */
  border-radius: 6px; /* border radius */
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* color of the scrollbar handle on hover (dark gray) */
}

/* Hide the scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Added by Jasper  */

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff004f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #a80035;
}

/* Show the button when the user starts scrolling */
body.scrolling button {
  display: block;
}

/*-------- contact --------*/

.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the container */
}

.contact-left {
  flex-basis: 45%; /* Adjust the width as needed */
  text-align: left;
}

.contact-right {
  flex-basis: 45%; /* Adjust the width as needed */
  text-align: right;
}

#contact {
  padding: 80px 0;
  color: #ababab;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
